<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>
            <span class="no-wrap">ООО «<b>Взлет-Новосибирск</b>», {{ 'now'|date('Y') }}.</span>
            <span class="no-wrap">тел: <a href="tel:+7383349149">8(383) 349-11-49</a>,</span>
            <span class="no-wrap">e-mail: <a href="mailto:vzljot_n@mail.ru">vzljot_n@mail.ru</a></span>
        </p>
    </section>
</section>