.catalog-link {
  display: inline-flex;
  align-items: center;
  padding: 20px;
  padding-left: 100px;
  min-width: 194px;
  min-height: 82px;
  background: #ebefef url(../images/catalog.png) 30px 50% no-repeat;
  line-height: 1.2;
}

.catalog-root {
  .hero {
    padding-bottom: 1rem;
  }
  h1.blog-title {
    font-size: 3rem;
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-left: -2px;
  }
  .title-row {
    align-items: center;
  }

  .blog-listing {
    .card {
      padding: 0;
      margin: 0;
      box-shadow: none;
      background-color: #fff;
      margin-bottom: 20px;
      border-left: 6px solid;
      padding-left: 10px;

    }

    .card-header {
      padding: 0;
      padding-top: 3px;
    }

    .card-footer,
    .card-body {
      display: none;
    }

    .bricklayer-column {
      .card {
        &:nth-child(1) {
          border-color: #ff7400;
        }
        &:nth-child(2) {
          border-color: #d600ff;
        }
        &:nth-child(3) {
          border-color: #00deff;
        }
        &:nth-child(4) {
          border-color: #fa3a3a;
        }
        &:nth-child(5) {
          border-color: #994d00;
        }
        &:nth-child(6) {
          border-color: #35ff00;
        }
        &:nth-child(7) {
          border-color: #abbeff;
        }
        &:nth-child(8) {
          border-color: #7465ff;
        }
        &:nth-child(9) {
          border-color: #ffb700;
        }
        &:nth-child(10) {
          border-color: #ffabab;
        }
        &:nth-child(11) {
          border-color: #befa00;
        }
        &:nth-child(12) {
          border-color: #0dc000;
        }
        &:nth-child(13) {
          border-color: #000000;
        }
      }
    }
    .bricklayer-column + .bricklayer-column{
      .card {
        &:nth-child(1) {
          border-color: #7465ff;
        }
        &:nth-child(2) {
          border-color: #ffb700;
        }
        &:nth-child(3) {
          border-color: #ffabab;
        }
        &:nth-child(4) {
          border-color: #befa00;
        }
        &:nth-child(5) {
          border-color: #0dc000;
        }
        &:nth-child(6) {
          border-color: #000000;
        }
      }
    }
  }


}

#footer .no-wrap {
  white-space: nowrap;
}